<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm Banner</h4>
                    <form class="forms-sample" action="/cms/post-banner" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Tên sự kiện</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <input type="file" name="banner" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled
                                    placeholder="Hinh ảnh banner">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary text-black" type="button">Tải
                                        lên</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeProduct">Loại banner</label>
                            <select class="form-control" id="typeProduct" name="type">
                                <option value="width" >Width</option>
                                <option value="height" >Height</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2 text-black">Thêm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>