<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../../public/css/feather.css" type="text/html">
  <link rel="stylesheet" href="../../../public/css/themify-icons.css" type="text/html">
  <link rel="stylesheet" href="../../../public/css/vendor.bundle.base.css" type="text/html">
  <link rel="stylesheet" href="../../../css/style.css" >
  <!-- endinject -->
  <title>Store-Backend</title>
</head>

<body>

  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

  <script src="../../../js/vendor.bundle.base.js"></script>
  <script src="../../../js/off-canvas.js"></script>
  <script src="../../../js/hoverable-collapse.js"></script>
  <script src="../../../js/template.js"></script>
  <script src="../../../js/settings.js"></script>
  <script src="../../../js/todolist.js"></script>
</body>

</html>